# Environments
knmlops/

# Built Packages
MLProject.egg-info/

# log files
logs/

# pycache files
src/__pycache__/
src/components/__pycache__/

# MacOS Finder specific files
.DS_Store

# Data folders
artifacts/

# Catboost specific 
catboost_info/